<%= form_for(@recette) do |f| %>
  <% if @recette.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recette.errors.count, "error") %> prohibited this recette from being saved:</h2>

      <ul>
      <% @recette.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :nom %><br>
    <%= f.text_field :nom %>
  </div>
  <div class="field">
    <%= f.label :baseline %><br>
    <%= f.text_area :baseline %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
